@model IEnumerable<BookMarket.Models.Sale>

@{
    ViewData["Title"] = "Sales";
}

<h4 class="mb-3">Sales</h4>
<hr/>

<table id="SaleTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>User</th>
            <th>Sale Date</th>
            <th>Quantity</th>
            <th>Total Amount</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title?.Name</td>
                <td>@item.User?.UserName</td>
                <td>@item.SaleDate.ToString("yyyy-MM-dd")</td>
                <td>@item.Quantity</td>
                <td>@item.TotalPrice.ToString("C")</td>
                <td class="text-center">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#SaleTable').DataTable();
        });
    </script>
}
